DEBUG=True
SECRET_KEY=SECRET_KEY
DATABASE_NAME=DATABASE_NAME
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_HOST=DATABASE_HOST
DATABASE_PORT=DATABASE_PORT
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200